.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.loadMore {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 183px;
    height: 60px;

    margin: 64px auto 0;
    padding: 16px 32px;

    font-size: 18px;
    font-weight: 700;
    line-height: 1.56;

    color: var(--color-text);
    background-color: var(--color-primary);

    border: none;
    border-radius: 12px;

    transition: background-color 250ms ease;
}

.loadMore:hover,
.loadMore:focus {
    background-color: var(--color-primary-light);
}

@media (max-width: 768px) {
    .list {
        gap: 24px;
    }

    .loadMore {
        width: 100%;
        margin-top: 40px;
    }
}