.filters {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    margin-bottom: 32px;
}

@media (max-width: 1024px) {
    .filters {
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {
    .filters {
        flex-direction: column;
        align-items: stretch;
        gap: 16px;

        margin-bottom: 24px;
    }
}